<html>
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../src/thermostat.js"></script>
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>


<div class="container">

	<div id='page_divide_1'>
			<h1>Select the city:</h1>
			<select>
				<option disabled selected value> -- select a city -- </option>
				<option value="2643743">London</option>
				<option value="3369157">Cape Town</option>
				<option value="6167865">Toronto</option>
			</select>

		<h1>Current temperature in the city: <span id="current-temperature"></span>°C</h1>

		<h1 id="temperature">Temperature</h1>
		<button type="button" id="increase">+</button>
		<button type="button" id="decrease">-</button>
		<button type="button" id="reset">Reset</button>
		<br>
		<h1>Power saving mode is <span id="power-saving-status">on</span></h1>
		<h2>Switch Power Saving Mode</h2>
		<button type="button" id="psm-on">On</button>
		<button type="button" id="psm-off">Off</button>
	</div>
	<div id='page_divide_2'>
		<h1 id='degrees'>Degrees</h1>
	</div>

</div>


</body>
</html>
