<html>
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../src/thermostat.js"></script>
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
  Select the city:
  <select>
    <option value="2643743">London</option>
    <option value="3369157">Cape Town</option>
    <option value="6167865">Toronto</option>
  </select>

<p>Current temperature in the city: <span id="current-temperature">temp</span></p><br>

<h1 id="temperature">Temperature</h1>
<button type="button" id="increase">+</button>
<button type="button" id="decrease">-</button>
<button type="button" id="reset">Reset</button>
<br>
Power saving mode is <span id="power-saving-status">on</span>
<h2>Switch Power Saving Mode</h2>
<button type="button" id="psm-on">On</button>
<button type="button" id="psm-off">Off</button>
</body>
</html>
